<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  <add name="GeoShopExpress"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=GeoShop;Integrated Security=True"/>
  <add name="GeoShopSDE"
        connectionString="Data Source=192.168.133.131;Initial Catalog=sde;Persist Security Info=True;User ID=sde;Password=sde"/>
  </connectionStrings>
</configuration>